body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}
/***lowered h3 class element below h3 css in case
info may be overwritten later***/
.example h3 {
  padding-top: 30px;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px;
  width: 100%;
}

/*** id #last-three is meant to overwrite the bg color
 of the class element for the last three div sets***/
#last-three {
  background-color: blue;
}
